<div class="row col-md-6 col-md-offset-3">

	<div class="jumbotron">
		<h1>Login</h1>		

		<form ng-submit="mainCtrl.login()">
			
			<div class="form-group">
				<label>Username</label>
				<input class="form-control" ng-model="mainCtrl.user.username">
			</div>

			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" ng-model="mainCtrl.user.password">
			</div>

			<div class="alert alert-danger" ng-if="mainCtrl.error">
				{{ mainCtrl.error }}
			</div>

			<button type="submit" class="btn btn-block btn-primary">
				<span>Login</span>
			</button>

		</form>
	</div>
	
</div>